<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../../src/styles/styles.css">
		<title>Резюме</title>
	</head>
	<body class="resume">
		<div class = "resume__header">
			<div class="header__name">ВЕСЕЛОВСКАЯ АЛЕКСАНДРА</div>
			<div class="header__vocation">Тестировщик</div>
			<div class="header__address">ул. Бородина 10/4 - 22, г. Омск, Российская Федерация</div>
			<div class="header__contact">89514268973   alexandraves95@gmail.com</div>
		</div>

		<div class="resume__solid"></div>

		<div class="resume__left-block">

			<div class="left-block__photo"></div>

			<div>

				<div class="resume__section-title resume__section-title_skills">Личные качества</div>
			
				<div class="left-block__skills">Коммуникабельность</div>
				<div class="left-block__progress-bar">
					<span class="left-block__progress-bar_communication"></span>
				</div>
				<div class="left-block__skills">Креативность</div>
				<div class="left-block__progress-bar">
					<span class="left-block__progress-bar_creativity"></span>
				</div>
				<div class="left-block__skills">Работа в команде</div>
				<div class="left-block__progress-bar">
					<span class="left-block__progress-bar_teamwork"></span>
				</div>
				<div class="left-block__skills">Организаторские качества</div>
				<div class="left-block__progress-bar">
					<span class="left-block__progress-bar_organization"></span>
				</div>
				<div class="left-block__skills">Лидерство</div>
				<div class="left-block__progress-bar">
					<span class="left-block__progress-bar_leadership"></span>
				</div>
				<div class="left-block__skills">Командный игрок</div>
				<div class="left-block__progress-bar">
					<span class="left-block__progress-bar_teamplayer"></span>
				</div>

				<div class="resume__section-title">Проф.навыки</div>

				<div class="left-block__software">MS Word, Excel</div>
				<div class="left-block__progress-bar">
					<span class="left-block__progress-bar_mo"></span>
				</div>
				<div class="left-block__software">C#</div>
				<div class="left-block__progress-bar">
					<span class="left-block__progress-bar_c"></span>
				</div>
				<div class="left-block__software">MS SQL</div>
				<div class="left-block__progress-bar">
					<span class="left-block__progress-bar_sql"></span>
				</div>




			</div>

		</div>


		<div class="resume__right-block">

			<div class="resume__section-title resume__section-title_about-me">Обо мне</div>

			<div class ="resume_all-text">
			На данный момент являюсь студенткой 5 курса. Мне 22 года. Обучаема. Легко нахожу контакт с людьми. Имею опыт организаторской деятельности и работы с людьми. Хотелось бы получить новые знания и опыт работы в сфере ИТ.		</div>

			<div class="resume__section-title">Образование</div>

			<div >
				<div class ="right-block_years">2002 / 2013 </div>
				<div class ="right-block_education">БОУ Лицей №143</div>
				
			</div>

			<div>				
				<div class ="right-block_years">2013 / наст.время </div>
				<div class ="right-block_education">
					<div>Факультет компьютерных наук, ОмГУ им. Ф.М.Достоевского</div> 
					<div class="right-block_education_education-degree">Специалист </div>
				</div>
			</div>


			<div class="resume__section-title">Опыт работы</div>

			<div class ="resume_all-text">Нет опыта работы</div>

			<div class="resume__section-title" >Рекомендация</div>
			<div class ="resume_all-text">
				<div class="reference-name">Нескреба Николай Николаевич</div>
				<div class ="reference-position">Заместитель декана</div>
				<div class="telephone">т. 89139754490</div>
			</div>

		</div>

		<div class=resume__straight></div>		

	</body>
</html>