.resume{	
	font-family: CenturyGothic, sans-serif;
	width: 2245px;
	margin: auto;
	color: #1a1a1a;	
	line-height: 56px;
  	letter-spacing: 0.025em;
  	font-size: 35px;
}

.resume__header{
	display: inline-block;
	width: 100%;
	padding-top: 190px;
	
}

.resume__left-block{
	display: inline-block;
	width: 781px;
	vertical-align: top;
	
}

.resume__right-block{
	display: inline-block;
	width: 1355px;
	vertical-align: top;
	margin-left: 95px;
}

.header__name{
	font-size: 92px;
	margin-bottom: 0px;
	line-height: 1em;
	text-transform: uppercase;
}

.header__vocation{
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 85px;
}

.header__address{
	font-size: 31px;
	color: rgb(156, 158, 161);
	margin-top: : 0px;
	border-right: 1px solid #8c8c8c;
	padding-right: 20px;
}

.header__mail{
	font-size: 31px;
	color: rgb(156, 158, 161);
	/*margin-top: 0px;
	margin-bottom: 0px;*/
	border-right: 1px solid #8c8c8c;
	padding-right: 20px;

}

.header__telephone{
	font-size: 31px;
	color: rgb(156, 158, 161);
	/*margin-top: 0px;
	margin-bottom: 0px;
	border-right: 1px solid #8c8c8c;*/

}

.resume__solid{
	width: 100%
	border-width: 1px; 
	border-bottom-style: solid;
	color: #e4e5e6;
	margin-bottom: 70px;
	margin-top: 128px

}


.left-block__photo{
	width: 700px;
    /*height: 638px;
    margin-bottom: 60px;*/
}


.resume__section-title{
	display: inline-block;
	font-size: 42px;
	box-sizing: border-box;
	padding: 12px 65px;
	background-color:  rgb(241, 201, 23);
    margin-bottom: 70px;
    margin-top: 70px;
    font-weight: 600;
    /*font-weight: bold;*/
}

.resume__section-title_about-me{
    margin-top: 0;

}

.right-block_years{
	display: inline-block;
	font-size: 35px;
	width: 400px;
	vertical-align: top;
	color: #7f8285;
	font-weight: 600;
	margin-right: 20px;
}

.right-block__education{
	display: inline-block;
	font-size: 35px;
	width: 920px;
	vertical-align: top;
}

.right-block__education_education-degree{
	font-weight: 600;
}

.resume_all-text{
	width: 100%;	
    text-align: justify;
    font-size: 33px;
}

.right-block__reference-name{
	font-size: 40px;
	font-weight: 600;
}

.reference-position{
	font-size: 35px;
}

.reference-telephone{
	font-size: 31px;
	color: rgb(156, 158, 161);
}

.resume__section-title_skills{
	width: 137px;
}

.left-block__skills{
	font-size: 32px;
}

.left-block__software{
	font-size: 32px;
}


.left-block__progress-bar{
	width: 622px;	
	height: 27px; 
    outline: 1px solid #bcbdc0;; 
    margin-bottom: 49px;
    margin-top: 23px;   
}

.left-block__progress-bar:last-child{
	margin-bottom: 130px;
}

.left-block__progress-bar_communication{	
	background-color: #bcbdc0;;
	width: 90%;
	height: 100%;
	display: block;
}

.left-block__progress-bar_creativity{
	background-color: #bcbdc0;;
	width: 70%;
	height: 100%;
	display: block;
}

.left-block__progress-bar_teamwork{
	background-color: #bcbdc0;;
	width: 80%;
	height: 100%;
	display: block;
}


.left-block__progress-bar_organization{
	background-color: #bcbdc0;;
	width: 90%;
	height: 100%;
	display: block;
}


.left-block__progress-bar_leadership{
	background-color: #bcbdc0;;
	width: 85%;
	height: 100%;
	display: block;
}


.left-block__progress-bar_teamplayer{
	background-color: #bcbdc0;;
	width: 80%;
	height: 100%;
	display: block;
}

.left-block__progress-bar_mo{
	background-color: #bcbdc0;;
	width: 85%;
	height: 100%;
	display: block;
}

.left-block__progress-bar_c{
	background-color: #bcbdc0;;
	width: 50%;
	height: 100%;
	display: block;
}


.left-block__progress-bar_sql{
	background-color: #bcbdc0;;
	width: 60%;
	height: 100%;
	display: block;
}

.resume__footer{
	width: 2585px;
	height: 70px;
	background: rgb(241, 202, 25);
	width: 2650;
	margin: auto;
}